<!DOCTYPE html>
<html>
  <body>
    <h1>Registratie</h1>
    <section class="registratie">
      <form action=/registerUser method="post">
        <fieldset>
          <label for="voornaam">voornaam</label>
          <input type="text" name="voornaam" placeholder="voornaam" />
        </fieldset>

        <fieldset>
          <label for="emailadres">emailadres</label>
          <input type="email" name="emailadres" placeholder="emailadres" />
        </fieldset>

        <fieldset>
          <label for="pass">Wachtwoord</label>
          <input type="password" name="wachtwoord" required />
        </fieldset>
        <button type="submit">registreer</button>
      </form>
    </section>
  </body>
</html>
