<header>
    <nav>
      <ul>
        <li><a href="/add">Profiel aanmaken</a></li>
        <li><a href="#">Logo</a></li>
        <li><a href="#">Matches</a></li>
      </ul>
    </nav>
  </header>
  