<!DOCTYPE html>
<html lang="nl">
<% include ('head2.ejs') %>
<body>
  <%- include ('header.ejs') %>
  <main>
    <h1>Matches</h1>
    <article>
      <h1>Naam en leeftijd</h1>
      <img src="images/Steve.jpg" alt="Foto Steve">
      <p></p>
    </article>
  </main>
</body>