<!DOCTYPE html>
<html lang="nl">
<%- include ('head2.ejs') %>
<title>Not found - Bamboos</title>

<body>
  <%- include ('header.ejs') %>
  <h1>Not found</h1>
  <p>Uh oh! We couldn’t find this page!</p>
</body>

</html>